body {
	background-color: none;
}
form {
	border: solid lightblue;
	width: 852px;
	margin: 0 auto;
	background-color: lightblue
}

h1 {
	text-align: center;
}

input[type="submit"]
{
	margin-left: 61%;
	font-size: 1em;
	padding: 10px;
	background-color: aliceblue;
	border-radius: 5px;
	border: black solid 1px;
}

input[type="submit"]:hover
{
	font-size: 1.2em
}

.add
{
	background-color: aliceblue;
	border: black solid 1px;
	border-radius: 5px;
}

.add:hover
{
	font-size: 1.2em
}

input[type="text"]
{
	border: 1px solid grey;
}

#ul_skills {
	margin: 0 auto;
	width: 432.6px;
}

#ul_proj, #ul_job, #ul_edu {
	margin: 0 auto;
	width: 500px;
}

#ul_proj li,  #ul_job li, #ul_edu li {
	border-bottom: 1px black solid;
	padding-bottom: 1em;
	margin-bottom: 1.2em;
	
}

table {
	margin: 0 auto;
	margin-bottom: 1em;
}

button {
	margin-left: 61%;
	margin-bottom: 1em;
}

.remove {
	margin-top: 1em;
	vertical-align: middle;
	margin-left: 1em;
	padding: 0px 1px;
	background-color: transparent;
	border: solid 1px;
}

.remove:hover {
	color: red;
}

select {
	vertical-align: middle;
}

div.container {
	width: 700px;
	margin: 50px auto;
	border: solid;
}

#div_basic {
	border: solid floralwhite;
	background-color: floralwhite
}

#div_skills {
	border: solid floralwhite;
	background-color: floralwhite
}

#div_proj {
	border: solid floralwhite;
	background-color: floralwhite
}

#div_jobs {
	border: solid floralwhite;
	background-color: floralwhite
}

#div_edu {
	border: solid floralwhite;
	background-color: floralwhite
}